h1{
    align-content: center;
    align-self: center;
    text-align: center;
    color: brown;
}

body{
    background-color: burlywood;
}

img{
    margin: 8px;
    border: 8px black solid;
    height: 200px;
    width: 400px;
    float: right;
    
}

